.vs .icon.table,
.vs-dark .icon.table {
	background-image: url("Table.svg");
	background-repeat: no-repeat;
}

.vs .icon.stored-procedure,
.vs-dark .icon.stored-procedure {
	background-image: url("StoredProcedure.svg");
	background-repeat: no-repeat;
}

.vs .icon.view,
.vs-dark .icon.view {
	background-image: url("View.svg");
	background-repeat: no-repeat;
}